@font-face {
    font-family: 'Fabrica';
    src: url('Fabrica.eot');
    src: url('Fabrica.eot?#iefix') format('embedded-opentype'),
        url('Fabrica.woff') format('woff'),
        url('Fabrica.ttf') format('truetype'),
        url('Fabrica.svg#Fabrica') format('svg');
    font-weight: normal;
    font-style: normal;
}

